{% extends 'base.html' %}

{% block body %}
<p style="text-align: left; margin-bottom: 2%; font-weight: bold;">
    Click icon to restart your selection.
</p>
<div class="container">
    <h3>Content Disclosure</h3>
    <br>
    <div class="discl">
        <p>This website doesn't use any cookies other than the cookies used by third party sites that are embended in the website in the 
            form of microservices. City information for each destination are derived from Wikipedia. Images have been sourced from 
            Pixabay and only include those that are freely available without any fees. Distance calculations are obtained by GeoDB, 
            an open source API that allows up to 200 free API calls by day. Finally, the embedded MAP is obtained from Open Layers, 
            an open source Map API alternative to Google Maps.</p>
    </div>
</div>

{% endblock %}