{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Frequently Asked Questions</h1>
    <br>
    <div class="panel panel-default faq_panel">
        <div class="panel-heading">
            <h4>How can I find a bike route that fits my capabilities?</h4>
        </div>
        <div class="panel-body">
            <p>All bike routes include information such as total distance, if it is kids friendly as well as a map of the route. 
                Visitors can search through the available routes to find the one that meets their criteria.</p>
        </div>
    </div>
    <div class="panel panel-default faq_panel">
        <div class="panel-heading">
            <h4>Where are inforamtion about the cities and locations in my route are coming from?</h4>
        </div>
        <div class="panel-body">
            <p>All cities and sites information in the page are extracted from Wikipedia by webscraping.This site is utilizing 
            Open Layer to create the map widget on the site. Open Layer is an open source mapping service, 
            alternative to Google Maps.</p>
        </div>
    </div>
    <div class="panel panel-default faq_panel">
        <div class="panel-heading">
            <h4>How do I select a route?</h4>
        </div>
        <div class="panel-body">
            <p>Begin by selecting between a seaside route or a mountain path. After you have made your selection, you will be
                presented with a list of recommended routes indicating the starting city of your path and your ending destination.
                The first city is your starting point and the second you finish. Once you have made your selection, you will
                be presented with a list of infomation about the cities you are visiting, a map, the time it will take you to complete
                your path by bike and your total distance.</p>
        </div>
    </div>
    <div class="panel panel-default faq_panel">
        <div class="panel-heading">
            <h4>How is the estimated duration of a path calculated?</h4>
        </div>
        <div class="panel-body">
            <p>The estimated duration of a path is calculated based on the total distance between the two cities divided by the 
                average speed of an amature biker, which is 25km/h or 15mph.</p>
        </div>
    </div>
    <div class="panel panel-default faq_panel">
        <div class="panel-heading">
            <h4>How do I start a new path search?</h4>
        </div>
        <div class="panel-body">
            <p>At any point you can click on the Bike Routes icon in the top left corner of your screen and you will return 
                at the home page.
            </p>
        </div>
    </div>
    <br>
    <p style="font-size: 20px; font-weight: bold; text-align: left;">
        You didn't find what you were looking for? Please submit any additional questions using the form below:
    </p>
    <div class="user_form">
        <form>
            <div class="form-group" style="text-align: left;">
                <label for="submitted_question">What would you like to ask us?</label>
                <input type="text" id="submitted_question" class="text-align-top form-control">
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>

{% endblock %}