{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form action="#" method="post">
                <input type="submit" value="Rome_Florence" class="btn btn-primary route_but" name="trail"> 
                <br>
                <input type="submit" value="Lisbon_Barcelona" class="btn btn-primary route_but" name="trail"> 
                <br>
                <input type="submit" value="Dusseldorf_Amsterdam" class="btn btn-primary route_but" name="trail"> 
            </form>
        </div>
        <div class="col-md-6">
            <img class="img_graphs" src="https://s.hdnux.com/photos/23/65/41/5199953/5/rawImage.jpg" alt="mountain_bikers">
        </div>
    </div>
</div>
{% endblock %}