{% extends 'base.html' %}

{% block body %}
<p style="text-align: left; margin-bottom: 2%; font-weight: bold;">Click on the Icon or back to restart your selection.</p>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form action="#" method="post">
                {% for destination in destinations %}
                <input type="submit" value="{{ destination}}" class="btn btn-primary route_but" name="trail"> 
                <br>
                {% endfor %}
            </form>
            <br>
            <p style="font-weight: bold; margin-top: 2%;">
            Choose a trail between the two cities.
            </p>
        </div>
        <div class="col-md-6">
            <img class="img_graphs" src="https://s.hdnux.com/photos/23/65/41/5199953/5/rawImage.jpg" alt="mountain_bikers">
        </div>
    </div>
</div>
{% endblock %}