{% extends 'base.html' %}
{% block javascriptLibraries %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">
    <style>
      .map {
        height: 20em;
        width: 50%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
{% endblock %}

{% block body %}
<p style="text-align: left; margin-bottom: 2%; font-weight: bold;">
    Click icon to restart your selection.
</p>
<div class="container">
    <h4>Travel from {{city1_details}} to {{city2_details}}</h4>
    <br>
    <div class="row">
        <div class="col-md-6" id="left_column">
            <p class="category_description">Details about your trip</p>
            <p style="font-size: 12px; font-style: italic;">
                Estimated calculations. Actual distance and duration could be different.
            </p>
            <table id="details_table">
                <tbody>
                    <tr>
                        <td><b>Distance in km: </b></td>
                        <td>{{distance}}</td>
                    </tr>
                    <tr>
                        <td><b>Duration (if travelling at avg. speed):</b></td>
                        <td>{{duration}} hours</td>
                    </tr>
                    <tr>
                      <td><b>Avg. Speed km/h</b></td>
                      <td>20 km/h</td>
                    <tr>
                      <td><b>Children Friendly:</b></td>
                      {% if distance > 150 %}
                        <td>
                          <span style="color: red; font-weight: bold;"> No </span>
                        </td>
                      {% else %}
                      <td>
                        <span style="color: green; font-weight: bold;"> Yes </span>
                      </td>
                      {% endif %}
                    </tr>
                    <tr>
                      <td><b>Difficulty:</b></td>
                      {% if distance > 300 %}
                        <td>
                          <span style="color: red; font-weight: bold;"> Difficult </span>
                        </td>
                      {% elif 150 < distance < 300 %}
                      <td>
                        <span style="color: yellow; font-weight: bold;"> Moderate </span>
                      </td>
                      {% else %}
                      <td>
                          <span style="color: green; font-weight: bold;">Easy</span>
                      </td>
                      {% endif %}
                    </tr>
                    {% if distance > 300 %}
                    <tr>
                      <td>
                        <span style="color: red; font-weight: bold;">Trip takes more than 1 day</span>
                      </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <br>
            <p class="category_description">Cities in your path</p>
            {% for city in cities %}
            <p class="city_name">{{ city }}</p>
            {% endfor %}
            <p style="font-size: 16px; font-weight: bold; color: red;">
              Emergency Numbers</p>
            <p style="font-weight"><b>UK: </b><span>999</span></p>
            <p style="font-weight"><b>Pan-EU Emergency Line:</b> <span>112</span></p>
            <p style="font-weight"><b>Pan-EU includes:</b> Portugal, Italy, Germany, Netherlands,
              Denmark, Sweden, France, Spain</p>
        </div>
        <div class="col-md-6 map" id='map'>
            <script type="text/javascript">
              var map = new ol.Map({
                target: 'map',
                layers: [
                  new ol.layer.Tile({
                    source: new ol.source.OSM()
                  })
                ],
                view: new ol.View({
                  center: ol.proj.fromLonLat([7.416667, 43.733334]),
                  zoom: 4
                })
              });
            </script>
            <p style="text-align: right; font-weight: bold;">
                Look for additional stops in your path.
                <i style="color: red;">Note: Altering path could add time and km to your trail!</i>
            </p>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <h5 id="picture_segment">Learn more about your stops</h5>
        <div id="place_imgs">
            <p style="font-size: 18px; font-weight: bold;">{{city1_details}}</p>
            {% for c_img in city1_img %}
            <img src='{{c_img}}' alt='{{city1_details}}' id="pic">
            {% endfor %}
        </div>
        <br>
        <div id="visited_cities" class="card">
            <div class="card-body">
                <p>{{city1}}</p>
            </div>
        </div>
        <div id="place_imgs">
            <p style="font-size: 18px; font-weight: bold;">{{city2_details}}</p>
            {% for c_img in city2_img %}
            <img src='{{c_img}}' alt='{{city2_details}}' id="pic">
            {% endfor %}
        </div>
        <br>
        <div id="visited_cities" class="card">
            <div class="card-body">
                <p>{{city2}}</p>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
