{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form action="#" method="post">
                <input type="submit" value="Nice_Montpellier" class="btn btn-primary route_but" name="trail"> 
                <br>
                <input type="submit" value="Hamburg_Copenhagen" class="btn btn-primary route_but" name="trail"> 
                <br>
                <input type="submit" value="Valencia_Barcelona" class="btn btn-primary route_but" name="trail"> 
                <br>
                <input type="submit" value="Gothenburg_Malmo" class="btn btn-primary route_but" name="trail"> 
                <br>
                <input type="submit" value="Lisbon_Porto" class="btn btn-primary route_but" name="trail"> 
            </form>
        </div>
        <div class="col-md-6">
            <img class="img_graphs" src="http://res.cloudinary.com/simpleview/image/upload/v1617822277/clients/cannonbeachor/Biking_sardineandanchovy_a657c769-da38-4489-a4d9-7b7c6070de07.jpg" alt="seaside_bikers">
        </div>
</div>
{% endblock %}